body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 600px;
    margin: 20px auto;
}

.posts {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}